:root {
  /* 定义css全局变量 */
}

html {
  font-family: Arial, Helvetica;
  --uno: bg-slate-900;
}

::selection {
  background: #8884;
}

[class^="language-"] {
  background-color: #080b12;
  border-radius: 10px;
}

button.copy {
  display: none;
}

span.lang {
  position: absolute;
  right: 0.5em;
  font-size: 0.75em;
  color: #999;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}